<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:pth="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>ECCO one stop shop</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href="/stylesheets/style.css" />
<!--    <script type="text/javascript" src="/javascripts/javascript.js"></script>-->
</head>
<body>
<header>
    <header>
        <div class="container">
            <div class="page-header">
                <a href="/"><h1>ECCO one stop shop</h1></a>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="home"><a href="/">HOME</a></li>
                        <li id="about_us"><a href="test">ABOUT US</a></li>
                        <li id="resources"><a href="test">RESOURCES</a></li>
                        <li id="login"><a href="test">LOGIN</a></li>
                        <li id="register"><a href="registration">REGISTER</a></li>
                    </ul>
                    <!--	  <div class="image-header">-->
                    <!--          <a href="/index"><img src=''/></a>-->
                    <!--	</div>-->
                </div>
            </div>
        </nav>
    </header>

</header>
<main>
        <!-- Spring Boot 101 thymeleaf  -->
    <p th:text="'Welcome here '  + ${username}">Signed as A</p>
    <p th:text="${datatime}" ></p>

    <div class="container">

        <div class="jumbotron">
            <a href="learn">
                <h1>Learn</h1>
                <p>
                    &#8226;  Acquire knowledge with the calculator get links and read documents
                    for financial, technical and community support. Discover our beacons,
                    and helpful and related guides. Get links to tools to set you up.
                </p>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <a href="test">
                <h1>Get help to manage your project</h1>
                <p>
                    &#8226;  Receive help for how to get started; links to community building websites,
                    financial aid websites for eco and energy projects, links to videos and guides
                    on how these technologies work and advice on them. how to grow their community,
                    how to manage tasks, how to get organised, how to get others excited.
                </p>
            </a>


        </div>
    </div>


    <div class="container">
        <div class="jumbotron">
            <a href="tet"><h1>Connect with others</h1>
                <p>
                    &#8226;  Do a progression evaluation and get linked to help websites for people who
                    have already gone somewhat down the path of setting up their own ECCO project
                    and want help on what to do next. Help them find out where they are weak
                    and provide websites to where they may get help.
                </p>
            </a>

        </div>
    </div>
</main>
<footer>
    <hr>
    <p class="text-center text-muted">© ECCO project</p>
</footer>
</body>
</html>